<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 10</b></center>    
<pre>
<h1>Name : Viral chauhan</h1>
<h2>Enrollment : 22010101027</h2>
<h2>Roll No. : 184  Batch : A4</h2>

# Modules

# A

### 01) WAP to create Calculator module which defines functions like add, sub,mul and div. create another file that uses the Calculator module.

In [4]:
import Calculator as cl
def mycal(a,b,opt):
    return cl.calculate(a,b,opt)
a=int(input("Enter first number "))
b=int(input("Enter second number "))
opt=input("Enter operation you want to perform ")
mycal(a,b,opt)

Enter first number 6
Enter second number 3
Enter operation you want to perform /
2.0

### 02) WAP to Pick a random character from a given String.

In [9]:
import random as rand

mystr=input("Enter a string ")
x= rand.randint(len(mystr)*-1,len(mystr)-1)
print("Charcter:",mystr[x],"  index: ",x)
print("using choice method: ",rand.choice(mystr))

Enter a string helloword
Charcter: w   index:  5
using choice method:  o

### 03) WAP to Pick a random element from a given list.

In [10]:
import random as rand
n = int(input("Enter a length of the list"))
mylist=[input("Enter a number ") for i in range(0,n)]
x= rand.randint(0,len(mylist)-1)
print("element:",mylist[x],"  index: ",x)
print("using choice method: ",rand.choice(mylist))

Enter a length of the list10
Enter a number 10
Enter a number 9
Enter a number 8
Enter a number 7
Enter a number 6
Enter a number 5
Enter a number 4
Enter a number 3
Enter a number 2
Enter a number 1
element: 1   index:  9
using choice method:  4

### 04) WAP to demonstrate the use of the math module.

In [11]:
import math as mt
print(mt.pi)
print(mt.e)
print(mt.sqrt(10))
print(mt.sin(30))
print(mt.cos(45))
print(mt.tan(60))
print(mt.floor(2.5))
print(mt.ceil(3.2))
print(mt.factorial(5))
print(mt.fabs(-5))
print(mt.pow(2,3))
print(mt.log2(10))
print(mt.log(10))
print(mt.sinh(1))
print(mt.cosh(1))
print(mt.tanh(1))
print(mt.atanh(0))
print(mt.asinh(1))
print(mt.acosh(1))

3.141592653589793
2.718281828459045
3.1622776601683795
-0.9880316240928618
0.5253219888177297
0.320040389379563
2
4
120
5.0
8.0
3.321928094887362
2.302585092994046
1.1752011936438014
1.5430806348152437
0.7615941559557649
0.0
0.881373587019543
0.0

### 05) WAP to demonstrate the use of date time module.

In [14]:
import datetime as dt
x = dt.datetime.now()
print(x)
print(x.date())
print(x.time())
print(x.year)
print(x.month)
print(x.day)
print(x.hour)
print(x.minute)
print(x.second)
print(x.microsecond)
print(dt.timezone.utc)
print(x.timestamp())
print(x.utcnow())

2024-02-20 08:45:37.305186
2024-02-20
08:45:37.305186
2024
2
20
8
45
37
305186
UTC
1708398937.305186
2024-02-20 03:15:37.306446

# B

### 01) WAP to Roll dice in such a way that every time you get the same number.

In [23]:
import random as rand
rand.seed(6)
print("Dice roll: ",rand.randint(1,6))
print("Dice roll: ",rand.randint(1,6))
print("Dice roll: ",rand.randint(1,6))

Dice roll:  5
Dice roll:  1
Dice roll:  4

### 02) WAP to generate 3 random integers between 100 and 999 which is divisible by 5.

In [20]:
import random as rand
l1 = [i for i in range(100,1000) if i%5==0]
print(rand.choice(l1))
print(rand.choice(l1))
print(rand.choice(l1))

200
720
430

### 03) WAP to generate 100 random lottery tickets and pick two lucky tickets from it as a winner.

In [25]:
import random as rand
print("Winning tickets : [",rand.randint(100000,999999),", ",rand.randint(100000,999999),"]")

Winning tickets : [ 374330 ,  138611 ]

### 04) WAP to print current date and time in Python.

In [26]:
import datetime as dt
print(dt.datetime.now())

2024-02-20 09:03:24.975614

### 05) Subtract a week (7 days) from a given date in Python.

In [32]:
from datetime import datetime, timedelta
x = datetime.now()
y = x - timedelta(days=7)
print(x)
print(y)

2024-02-20 09:10:19.305249
2024-02-13 09:10:19.305249

### 06) WAP to Calculate number of days between two given dates.

In [36]:
from datetime import datetime, timedelta
x = datetime.now()
y = x + timedelta(days=7)

print("difference is: ",y-x)

difference is:  7 days, 0:00:00

### 07) WAP to Find the day of the week of a given date.

In [44]:
from datetime import datetime

x = datetime.now()
print("on ",x.date()," it was ",x.strftime('%a'))

on  2024-02-20  it was  Tue

## Extra Programs

In [27]:
mystr = input("Enter a string")
mystr2=""
for i in range(len(mystr)):
    tempch = mystr[i]
    if(ord(tempch)>= 65 and ord(tempch)<=91):
        mystr2 = mystr2 + chr(97+(ord(tempch)-65))        
    elif(ord(tempch)>= 97 and ord(tempch)<=122):
        mystr2 = mystr2+ chr(65+(ord(tempch)-97))
print(mystr2)

Enter a stringPaRtH
pArTh

In [2]:
n=5

for i in range(0,5):
    temp = str(11**i)
    for j in range(1,n-i+1):
        print("  ",end="")
    for l in temp:
        print("  ",l,end="")    
    print()

             1
           1   1
         1   2   1
       1   3   3   1
     1   4   6   4   1